In [25]:
import pandas as pd
import numpy as np

# 1. Date and Time Data Types and Tools

**timedelta** : Represents the difference between two datetime values (as days, seconds, and microseconds)

In [26]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2021, 2, 14, 22, 23, 12, 416615)

In [27]:
now.year, now.month, now.day

(2021, 2, 14)

In [28]:
delta = datetime (2021, 2, 14, 22, 3, 3, 458506)- datetime(2001, 2, 23,10)

In [29]:
delta

datetime.timedelta(days=7296, seconds=43383, microseconds=458506)

In [30]:
delta.days

7296

In [31]:
delta.seconds

43383

In [32]:
from datetime import timedelta
start = datetime(2011, 1, 7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [33]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

# Converting Between String and Datetime


**DataFrame.strft:**  converts a datetime object containing current date and time to different string formats.

**DataFrame.strptime:** creates a datetime from every string.

**dateutil.parser**

**pandas.to_datetime:** Convert argument to datetime.

In [34]:
stamp = datetime(2011, 1, 3)

In [35]:
str(stamp)

'2011-01-03 00:00:00'

In [36]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [37]:
value = '2011-01-03'

In [38]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [39]:
datestrs = ['7/6/2011', '8/6/2011']

In [40]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [41]:
from dateutil.parser import parse

parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [42]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [43]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [44]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [45]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [46]:
idx[2]

NaT

In [47]:
 pd.isnull(idx)

array([False, False,  True])

# 2 Time Series Basics

In [78]:
from datetime import datetime

In [79]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),datetime(2011, 1, 7), datetime(2011, 1, 8),datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [80]:
dates

[datetime.datetime(2011, 1, 2, 0, 0),
 datetime.datetime(2011, 1, 5, 0, 0),
 datetime.datetime(2011, 1, 7, 0, 0),
 datetime.datetime(2011, 1, 8, 0, 0),
 datetime.datetime(2011, 1, 10, 0, 0),
 datetime.datetime(2011, 1, 12, 0, 0)]

In [81]:
ts = pd.Series(np.random.randn(6), index=dates)

In [82]:
ts

2011-01-02    1.053984
2011-01-05   -1.478336
2011-01-07   -0.486272
2011-01-08    0.417240
2011-01-10    1.018153
2011-01-12    1.239746
dtype: float64

In [83]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [84]:
ts + ts[::2]

2011-01-02    2.107968
2011-01-05         NaN
2011-01-07   -0.972544
2011-01-08         NaN
2011-01-10    2.036305
2011-01-12         NaN
dtype: float64

In [85]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

# Indexing, Selection, Subsetting

**DataFrame.truncate:** Truncate a Series or DataFrame before and after some index value.

**pandas.date_range:** Return a fixed frequency DatetimeIndex.
(start=str or datetime-like, end=str or datetime-like, periods=int, freq=str , tz=None, normalize=False, name=None, closed=None, **kwargs)

In [86]:
stamp = ts.index[2]
ts[stamp]

-0.4862719009080819

In [87]:
ts['1/10/2011']

1.0181526223916226

In [88]:
ts['20110110']

1.0181526223916226

In [89]:
longer_ts = pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000', periods=1000))
#1000 random numbers from 1000 period

In [90]:
longer_ts.head(5)

2000-01-01   -1.417809
2000-01-02   -0.989736
2000-01-03   -0.657119
2000-01-04    1.775125
2000-01-05    0.836214
Freq: D, dtype: float64

In [91]:
longer_ts['2001'].head(5)

2001-01-01   -1.698568
2001-01-02    2.425280
2001-01-03   -0.086429
2001-01-04   -1.105838
2001-01-05    1.445669
Freq: D, dtype: float64

In [92]:
longer_ts['2001-05'].head(5)

2001-05-01    0.081196
2001-05-02    0.842522
2001-05-03    0.947856
2001-05-04    0.794043
2001-05-05   -0.985270
Freq: D, dtype: float64

In [93]:
ts[datetime(2011, 1, 7):]

2011-01-07   -0.486272
2011-01-08    0.417240
2011-01-10    1.018153
2011-01-12    1.239746
dtype: float64

In [94]:
ts

2011-01-02    1.053984
2011-01-05   -1.478336
2011-01-07   -0.486272
2011-01-08    0.417240
2011-01-10    1.018153
2011-01-12    1.239746
dtype: float64

In [95]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -0.486272
2011-01-08    0.417240
2011-01-10    1.018153
dtype: float64

In [96]:
ts.truncate(after='1/9/2011')

2011-01-02    1.053984
2011-01-05   -1.478336
2011-01-07   -0.486272
2011-01-08    0.417240
dtype: float64

In [97]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [98]:
long_df = pd.DataFrame(np.random.randn(100, 4),index=dates,columns=['Colorado', 'Texas','New York', 'Ohio'])

In [99]:
long_df.head(3)

            Colorado     Texas  New York      Ohio
2000-01-05  0.280154 -0.963495  1.493563 -0.969040
2000-01-12  1.352568  1.554281  1.624943  1.278602
2000-01-19  1.912833 -1.123757 -0.419900  0.551918

In [100]:
 long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  2.721841  0.340510 -1.507205 -1.597436
2001-05-09 -0.859656 -0.881838  1.678706 -0.894205
2001-05-16  0.950977  0.508361 -1.725274 -0.377680
2001-05-23  2.002155 -1.537511  0.279454 -0.025890
2001-05-30  0.992396  0.491020 -0.070208 -0.986457

# Time Series with Duplicate Indices

In [85]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000','1/2/2000', '1/3/2000'])

In [86]:
dup_ts = pd.Series(np.arange(5), index=dates)

In [87]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [88]:
dup_ts.index.is_unique

False

In [89]:
dup_ts['1/3/2000']

4

In [90]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [91]:
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [92]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

# 11.3 Date Ranges, Frequencies, and Shifting


**DataFrame.resample:** Resample time-series data

**pandas.date_range: start=str or datetime-like, end=str or datetime-like, periods=int or random numbers, freq=str or DateOffset, tz=None, normalize=False, name=None, closed=None, **kwargs** |

In [93]:
ts

2011-01-02    1.256804
2011-01-05    1.121498
2011-01-07    0.786175
2011-01-08   -0.840079
2011-01-10    0.671655
2011-01-12    2.832892
dtype: float64

In [94]:
resampler = ts.resample('D')

In [95]:
index = pd.date_range('2012-04-01', '2012-06-01')

In [96]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [97]:
pd.date_range(start='2012-04-01', periods=5)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05'],
              dtype='datetime64[ns]', freq='D')

In [98]:
pd.date_range(end='2012-06-01', periods=5)

DatetimeIndex(['2012-05-28', '2012-05-29', '2012-05-30', '2012-05-31',
               '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [99]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM') #BM=buisness month end

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [100]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [101]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

**Frequencies and Date Offsets**

In [102]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [103]:
four_hours = Hour(4)
four_hours

In [104]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='6h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 06:00:00',
               '2000-01-01 12:00:00', '2000-01-01 18:00:00',
               '2000-01-02 00:00:00', '2000-01-02 06:00:00',
               '2000-01-02 12:00:00', '2000-01-02 18:00:00',
               '2000-01-03 00:00:00', '2000-01-03 06:00:00',
               '2000-01-03 12:00:00', '2000-01-03 18:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [105]:
Hour(2) + Minute(30)

In [106]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

**Week of month dates**

In [107]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')
list(rng) #WOM=week of month

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

# Shifting (Leading and Lagging) Data

In [108]:
ts = pd.Series(np.random.randn(4), index=pd.date_range('1/1/2000', periods=4, freq='M'))

In [109]:
ts

2000-01-31    0.688757
2000-02-29   -1.074540
2000-03-31    0.383297
2000-04-30   -1.035853
Freq: M, dtype: float64

In [110]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.688757
2000-04-30   -1.074540
Freq: M, dtype: float64

In [111]:
ts.shift(-2)

2000-01-31    0.383297
2000-02-29   -1.035853
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [112]:
ts.shift(2, freq='M') #number of months shifted

2000-03-31    0.688757
2000-04-30   -1.074540
2000-05-31    0.383297
2000-06-30   -1.035853
Freq: M, dtype: float64

In [113]:
ts.shift(3, freq='D') #number of date shifted

2000-02-03    0.688757
2000-03-03   -1.074540
2000-04-03    0.383297
2000-05-03   -1.035853
dtype: float64

In [114]:
ts.shift(1, freq='90min') #number of miniute shifted

2000-01-31 01:30:00    0.688757
2000-02-29 01:30:00   -1.074540
2000-03-31 01:30:00    0.383297
2000-04-30 01:30:00   -1.035853
dtype: float64

# Shifting dates with offsets

In [105]:
from pandas.tseries.offsets import Day, MonthEnd
now = datetime(2011, 11, 17)

In [106]:
now + Day(3)

Timestamp('2011-11-20 00:00:00')

In [107]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [108]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [111]:
offset = MonthEnd()
offset.rollforward(now) #forward to the date

Timestamp('2011-11-30 00:00:00')

In [112]:
offset.rollback(now) #backward to the date

Timestamp('2011-10-31 00:00:00')

In [114]:
ts = pd.Series(np.random.randn(20),index=pd.date_range('1/15/2000', periods=20, freq='4d'))

In [123]:
ts.head(5)

2000-01-15   -0.442260
2000-01-19    2.163953
2000-01-23   -0.117428
2000-01-27   -0.472467
2000-01-31   -1.427886
Freq: 4D, dtype: float64

In [124]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.059218
2000-02-29    0.147695
2000-03-31   -0.192746
dtype: float64

In [125]:
ts.resample('M').mean()

2000-01-31   -0.059218
2000-02-29    0.147695
2000-03-31   -0.192746
Freq: M, dtype: float64