In [5]:
import pandas as pd
import numpy as np

**Integer Indexing**

In [30]:
ser = pd.Series(np.arange(3))

In [31]:
ser

0    0
1    1
2    2
dtype: int32

In [32]:
ser2 = pd.Series(np.arange(3.), index=['a', 'b', 'c'])

In [33]:
ser2

a    0.0
b    1.0
c    2.0
dtype: float64

In [34]:
 ser3 = pd.Series(range(3), index=[-5, 1, 3])

In [35]:
ser3

-5    0
 1    1
 3    2
dtype: int64

In [39]:
ser3.iloc[2]

2

In [37]:
frame = pd.DataFrame(np.arange(6).reshape(3, 2), index=[2, 0, 1])

In [38]:
frame

   0  1
2  0  1
0  2  3
1  4  5