In [5]:
import pytz
import pandas as pd
import numpy as np

# 11.4 Time Zone Handling

In [6]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [7]:
tz = pytz.timezone('America/New_York')

In [8]:
tz

# Time Zone Localization and Conversion

**pandas.date_range(start=str or datetime-like, end=str or datetime-like, periods=int, freq=str or DateOffset/ default ‘D’, tz=Time zone, normalize=bool/default False, name=str, closed=None, **kwargs)**

**pandas.Series.tz_localize('tz'):** Localize tz-naive index of a Series or DataFrame to target time zone.

**pandas.Series.dt.tz_convert('tz'):** Convert tz-aware Datetime Array/Index from one time zone to another

In [9]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')

In [10]:
len(rng)

6

In [11]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [12]:
ts

2012-03-09 09:30:00    1.744263
2012-03-10 09:30:00    0.862176
2012-03-11 09:30:00   -1.043055
2012-03-12 09:30:00   -0.103388
2012-03-13 09:30:00   -0.266387
2012-03-14 09:30:00   -0.395624
Freq: D, dtype: float64

In [13]:
print(ts.index.tz)

None

In [14]:
pd.date_range('3/9/2012 9:30', periods=5, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [15]:
ts

2012-03-09 09:30:00    1.744263
2012-03-10 09:30:00    0.862176
2012-03-11 09:30:00   -1.043055
2012-03-12 09:30:00   -0.103388
2012-03-13 09:30:00   -0.266387
2012-03-14 09:30:00   -0.395624
Freq: D, dtype: float64

In [16]:
ts_utc = ts.tz_localize('UTC')

In [17]:
ts_utc

2012-03-09 09:30:00+00:00    1.744263
2012-03-10 09:30:00+00:00    0.862176
2012-03-11 09:30:00+00:00   -1.043055
2012-03-12 09:30:00+00:00   -0.103388
2012-03-13 09:30:00+00:00   -0.266387
2012-03-14 09:30:00+00:00   -0.395624
Freq: D, dtype: float64

In [18]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [19]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00    1.744263
2012-03-10 04:30:00-05:00    0.862176
2012-03-11 05:30:00-04:00   -1.043055
2012-03-12 05:30:00-04:00   -0.103388
2012-03-13 05:30:00-04:00   -0.266387
2012-03-14 05:30:00-04:00   -0.395624
Freq: D, dtype: float64

In [20]:
ts_eastern = ts.tz_localize('America/New_York')
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00    1.744263
2012-03-10 14:30:00+00:00    0.862176
2012-03-11 13:30:00+00:00   -1.043055
2012-03-12 13:30:00+00:00   -0.103388
2012-03-13 13:30:00+00:00   -0.266387
2012-03-14 13:30:00+00:00   -0.395624
dtype: float64

In [21]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00    1.744263
2012-03-10 15:30:00+01:00    0.862176
2012-03-11 14:30:00+01:00   -1.043055
2012-03-12 14:30:00+01:00   -0.103388
2012-03-13 14:30:00+01:00   -0.266387
2012-03-14 14:30:00+01:00   -0.395624
dtype: float64

In [22]:
ts.index.tz_localize('Asia/Dhaka')

DatetimeIndex(['2012-03-09 09:30:00+06:00', '2012-03-10 09:30:00+06:00',
               '2012-03-11 09:30:00+06:00', '2012-03-12 09:30:00+06:00',
               '2012-03-13 09:30:00+06:00', '2012-03-14 09:30:00+06:00'],
              dtype='datetime64[ns, Asia/Dhaka]', freq=None)

# Operations with Time Zone−Aware Timestamp Objects

In [23]:
stamp = pd.Timestamp('2011-03-12 04:00')
stamp_utc = stamp.tz_localize('utc')
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [24]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [25]:
stamp_utc.value

1299902400000000000

In [26]:
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

In [27]:
from pandas.tseries.offsets import Hour
stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [28]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [29]:
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [30]:
stamp + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

# 11.5 Periods and Period Arithmetic

**pandas.period_range:(start=str or period-like, end=str or period-like, periods=int, freq=str or DateOffset, name=str)**

In [31]:
p = pd.Period(2007, freq='A-DEC') #A=annual
p

Period('2007', 'A-DEC')

In [32]:
p+5

Period('2012', 'A-DEC')

In [33]:
p-2

Period('2005', 'A-DEC')

In [34]:
pd.Period('2014', freq='A-DEC') - p

In [35]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [36]:
 pd.Series(np.random.randn(6), index=rng)

2000-01    0.095224
2000-02   -0.422459
2000-03    0.263641
2000-04   -0.100686
2000-05    1.014826
2000-06   -0.463744
Freq: M, dtype: float64

In [37]:
values = ['2001Q3', '2002Q2', '2003Q1']

In [38]:
index = pd.PeriodIndex(values, freq='Q-DEC')

In [39]:
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

# Period Frequency Conversion

**pandas.DataFrame.asfreq(freq, method={‘backfill’/’bfill’, ‘pad’/’ffill’}, how=start/end, normalize=Default False, fill_value=scalar):** Convert TimeSeries to specified frequency.

In [40]:
p = pd.Period('2007', freq='A-DEC')  #A=ANNUAL
p

Period('2007', 'A-DEC')

In [41]:
p.asfreq('M', how='start')

Period('2007-01', 'M')

In [42]:
p.asfreq('M', how='end')

Period('2007-12', 'M')

In [43]:
p = pd.Period('2007', freq='A-JUN')

In [44]:
p

Period('2007', 'A-JUN')

In [45]:
p.asfreq('M', 'start')

Period('2006-07', 'M')

In [46]:
p = pd.Period('Aug-2007', 'M')
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [47]:
rng = pd.period_range('2006', '2009', freq='A-DEC')

In [48]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [49]:
ts

2006   -1.622955
2007    0.572312
2008    1.772406
2009   -2.949594
Freq: A-DEC, dtype: float64

In [52]:
ts.asfreq('M', how='start')

2006-01   -1.622955
2007-01    0.572312
2008-01    1.772406
2009-01   -2.949594
Freq: M, dtype: float64

In [51]:
ts.asfreq('B', how='end')
#If we instead wanted the last business day of each year, we can use the 'B' frequency

2006-12-29   -1.622955
2007-12-31    0.572312
2008-12-31    1.772406
2009-12-31   -2.949594
Freq: B, dtype: float64

# Quarterly Period Frequencies

In [65]:
p = pd.Period('2012Q4', freq='Q-JAN')
p

Period('2012Q4', 'Q-JAN')

In [55]:
p.asfreq('B', 's') #buisness start

Period('2007-08-01', 'B')

In [67]:
p.asfreq('D', 'start') #date start

Period('2011-11-01', 'D')

In [68]:
p.asfreq('D', 'end')

Period('2012-01-31', 'D')

In [69]:
p4pm = (p.asfreq('B', 'e') - 1).asfreq('min', 's') + 16 * 60 
#B=buisness,e=end,s=start

In [70]:
p4pm

Period('2012-01-30 16:00', 'T')

In [71]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

In [64]:
rng = pd.period_range('2011Q3', '2012Q3', freq='Q-JAN')
rng #2011 Q3= JAN, 2011 Q4= APR,2012 Q1= JUL, 2012 Q2= OCT, Q3=JAN

PeriodIndex(['2011Q3', '2011Q4', '2012Q1', '2012Q2', '2012Q3'], dtype='period[Q-JAN]', freq='Q-JAN')

In [58]:
ts = pd.Series(np.arange(len(rng)), index=rng)

In [59]:
new_rng = (rng.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60

In [60]:
ts.index = new_rng.to_timestamp()

In [61]:
ts

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int32

# Converting Timestamps to Periods (and Back)

In [77]:
rng = pd.date_range('2000-01-01', periods=3, freq='M') #monthly period

In [78]:
ts = pd.Series(np.random.randn(3), index=rng)
ts

2000-01-31    1.405099
2000-02-29   -0.943151
2000-03-31    0.928621
Freq: M, dtype: float64

In [79]:
pts = ts.to_period()
pts

2000-01    1.405099
2000-02   -0.943151
2000-03    0.928621
Freq: M, dtype: float64

In [80]:
rng = pd.date_range('1/29/2000', periods=6, freq='D') #daily period

In [81]:
ts2 = pd.Series(np.random.randn(6), index=rng)

In [82]:
ts2

2000-01-29    0.842078
2000-01-30   -0.622426
2000-01-31    1.308095
2000-02-01    1.080722
2000-02-02   -1.412579
2000-02-03    0.372615
Freq: D, dtype: float64

In [83]:
ts2.to_period('M')

2000-01    0.842078
2000-01   -0.622426
2000-01    1.308095
2000-02    1.080722
2000-02   -1.412579
2000-02    0.372615
Freq: M, dtype: float64

In [84]:
pts = ts2.to_period()
pts

2000-01-29    0.842078
2000-01-30   -0.622426
2000-01-31    1.308095
2000-02-01    1.080722
2000-02-02   -1.412579
2000-02-03    0.372615
Freq: D, dtype: float64

In [85]:
pts.to_timestamp(how='end')

2000-01-29 23:59:59.999999999    0.842078
2000-01-30 23:59:59.999999999   -0.622426
2000-01-31 23:59:59.999999999    1.308095
2000-02-01 23:59:59.999999999    1.080722
2000-02-02 23:59:59.999999999   -1.412579
2000-02-03 23:59:59.999999999    0.372615
Freq: D, dtype: float64

# Creating a PeriodIndex from Arrays

**pandas.PeriodIndex(data=None, ordinal=None, freq=None, tz=None, dtype=None, copy=False, name=None, **fields)**

In [87]:
data = pd.read_csv('https://raw.githubusercontent.com/BrambleXu/pydata-notebook/master/examples/macrodata.csv')

In [88]:
data.head(5)

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19

In [90]:
data.year.head(5)

0    1959.0
1    1959.0
2    1959.0
3    1959.0
4    1960.0
Name: year, dtype: float64

In [91]:
data.quarter.head(5)

0    1.0
1    2.0
2    3.0
3    4.0
4    1.0
Name: quarter, dtype: float64

In [92]:
index = pd.PeriodIndex(year=data.year, quarter=data.quarter, freq='Q-DEC')

In [97]:
index

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', length=203, freq='Q-DEC')

In [94]:
data.index = index

In [95]:
data.infl.head(6)

1959Q1    0.00
1959Q2    2.34
1959Q3    2.74
1959Q4    0.27
1960Q1    2.31
1960Q2    0.14
Freq: Q-DEC, Name: infl, dtype: float64